In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Lasso
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce
from sklearn.svm import LinearSVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import xgboost as xgb
from sklearn.metrics import mean_squared_log_error, r2_score, mean_squared_error
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import seaborn as sns

SEED = 42

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [ ]:
cd gdrive/MyDrive

/content/gdrive/MyDrive

In [ ]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
len(train)

19237

In [ ]:
train.drop_duplicates(inplace = True)

In [ ]:
len(train)

18924

In [ ]:
train = pd.concat([train, test])

In [ ]:
len(train)

27169

In [ ]:
df_train = pd.read_csv("train.csv")
df_train.drop_duplicates(inplace = True)

In [ ]:
len(df_train)

18924

In [ ]:
train.drop(["ID", "Mileage"], axis = 1, inplace = True)
test.drop(["ID", "Mileage"], axis = 1, inplace = True)

train['Engine volume'] = train['Engine volume'].replace(['2.0 Turbo', '2.2 Turbo','3.0 Turbo','1.4 Turbo','1.5 Turbo', '1.6 Turbo','2.3 Turbo','2.8 Turbo','1.8 Turbo', '2.4 Turbo', '3.5 Turbo', '3.2 Turbo','1.3 Turbo','2.5 Turbo','1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.2 Turbo','4.8 Turbo', '4.6 Turbo','1.2 Turbo','1.7 Turbo', '6.3 Turbo', '2.7 Turbo','2.9 Turbo', '4.0 Turbo','3.6 Turbo','3.7 Turbo','5.5 Turbo','2.1 Turbo','0.7 Turbo', '0.6 Turbo','1.0 Turbo', '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo','5.7 Turbo','0.4 Turbo', '5.4 Turbo', '0.3 Turbo','1.1 Turbo', '6.0 Turbo', '2.6 Turbo'],'Turbo')
train['Engine volume'] = train['Engine volume'].replace(['3.5','3','1.3','2.5','2','1.8','2.4','4','1.6','3.3','4.7','1.5','4.4','3.6','2.3','2.2','1.4','5.5','3.2','3.8','4.6','1.2','5', '1.7', '2.9', '0.5','1.9','2.7','4.8','5.3','0.4','2.8','1.1','2.1','0.7','5.4','3.7','1','2.6','5.7','3.4','4.3','4.2','5.9','6.8','4.5','0.6','7.3','0.1','6.3','6.4','5.2','5.8','0.8', '6.7', '6.2', '0', '20', '0.3', '0.2','5.6', '6', '3.9', '0.9', '6.6', '6.1', '10.8'],'Non-Turbo')

test['Engine volume'] = test['Engine volume'].replace(['2.0 Turbo', '2.2 Turbo','3.0 Turbo','1.4 Turbo','1.5 Turbo', '1.6 Turbo','2.3 Turbo','2.8 Turbo','1.8 Turbo', '2.4 Turbo', '3.5 Turbo', '3.2 Turbo','1.3 Turbo','2.5 Turbo','1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.2 Turbo','4.8 Turbo', '4.6 Turbo','1.2 Turbo','1.7 Turbo', '6.3 Turbo', '2.7 Turbo','2.9 Turbo', '4.0 Turbo','3.6 Turbo','3.7 Turbo','5.5 Turbo','2.1 Turbo','0.7 Turbo', '0.6 Turbo','1.0 Turbo', '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo','5.7 Turbo','0.4 Turbo', '5.4 Turbo', '0.3 Turbo','1.1 Turbo', '6.0 Turbo', '2.6 Turbo'],'Turbo')
test['Engine volume'] = test['Engine volume'].replace(['3.5','3','1.3','2.5','2','1.8','2.4','4','1.6','3.3','4.7','1.5','4.4','3.6','2.3','2.2','1.4','5.5','3.2','3.8','4.6','1.2','5', '1.7', '2.9', '0.5','1.9','2.7','4.8','5.3','0.4','2.8','1.1','2.1','0.7','5.4','3.7','1','2.6','5.7','3.4','4.3','4.2','5.9','6.8','4.5','0.6','7.3','0.1','6.3','6.4','5.2','5.8','0.8', '6.7', '6.2', '0', '20', '0.3', '0.2','5.6', '6', '3.9', '0.9', '6.6', '6.1', '10.8'],'Non-Turbo')

lb = LabelEncoder()


train["Manufacturer"] = lb.fit_transform(train["Manufacturer"])
test["Manufacturer"] = lb.fit_transform(test["Manufacturer"])

train["Leather interior"] = lb.fit_transform(train["Leather interior"])
test["Leather interior"] = lb.fit_transform(test["Leather interior"])

train["Drive wheels"] = lb.fit_transform(train["Drive wheels"])
test["Drive wheels"] = lb.fit_transform(test["Drive wheels"])

train["Doors"] = lb.fit_transform(train["Doors"])
test["Doors"] = lb.fit_transform(test["Doors"])

train["Wheel"] = lb.fit_transform(train["Wheel"])
test["Wheel"] = lb.fit_transform(test["Wheel"])

train["Color"] = lb.fit_transform(train["Color"])
test["Color"] = lb.fit_transform(test["Color"])
 
train["Engine volume"] = lb.fit_transform(train["Engine volume"])
test["Engine volume"] = lb.fit_transform(test["Engine volume"])

train["Gear box type"] = lb.fit_transform(train["Gear box type"])
test["Gear box type"] = lb.fit_transform(test["Gear box type"])

train["Fuel type"] = lb.fit_transform(train["Fuel type"])
test["Fuel type"] = lb.fit_transform(test["Fuel type"])

train["Category"] = lb.fit_transform(train["Category"])
test["Category"] = lb.fit_transform(test["Category"])

train["Model"] = lb.fit_transform(train["Model"])
test["Model"] = lb.fit_transform(test["Model"])

train['Levy'] = train['Levy'].replace("-", "0")
test['Levy'] = test['Levy'].replace("-", "0")
train["Levy"] = train["Levy"].astype("str").astype("int")
test["Levy"] = test["Levy"].astype("str").astype("int")

train["Cylinders"] = train["Cylinders"].astype(int)
test["Cylinders"] = test["Cylinders"].astype(int)

#train[['Mileage']] = train[['Mileage']].replace(to_replace=r'([a-z/]+|[A-Z/]+)', value='', regex=True)
#train["Mileage"] = train["Mileage"].astype("str").astype("int") 
#test[['Mileage']] = test[['Mileage']].replace(to_replace=r'([a-z/]+|[A-Z/]+)', value='', regex=True)
#test["Mileage"] = test["Mileage"]  .astype("str").astype("int")

In [ ]:
len(train)

27169

In [ ]:
train1 = train[ : 18924]
test1 = train[18924 : ]

In [ ]:
train = train1.copy()
test = test1.copy()

In [ ]:
train.tail()

         Price  Levy  Manufacturer  Model  ...  Doors  Wheel  Color  Airbags
19232   8467.0     0            37    477  ...      0      0     12        5
19233  15681.0   831            24   1657  ...      1      0     11        8
19234  26108.0   836            24   1795  ...      1      0      7        4
19235   5331.0  1288             8    566  ...      1      0      1        4
19236    470.0   753            24   1657  ...      1      0     14       12

[5 rows x 16 columns]

In [ ]:
len(train)

18924

In [ ]:
X = train.iloc[ : ,  1: ]
Y = train.iloc[ : , : 1]

In [ ]:
sc = StandardScaler()

In [ ]:
X = sc.fit_transform(X)
#X_test = sc.fit_transform(X_test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = SEED, shuffle = True)

In [ ]:
estimators = [
              ("xgb", RandomForestRegressor(random_state = SEED)),
              ("svr", LinearSVR(random_state = SEED)),
              ("rf", xgb.XGBRegressor())           
]

reg = StackingRegressor(
    estimators = estimators, 
    final_estimator = RandomForestRegressor(random_state = SEED)
)

reg.fit(X_train, Y_train)

predicted = reg.predict(X_test)

check1 = np.sqrt(mean_squared_log_error(Y_test, predicted))
r2 = r2_score(Y_test, predicted)

print(f"The np.sqrt is : {check1}")
print(f"The r2 score is : {r2}")

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_stacking.py:642: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

[21:28:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:28:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:28:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:28:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:28:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:28:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
The np.sqrt is : 1.1606179984709062
The r2 score is : 0.4727279439374059

In [ ]:
test = test.iloc[ : , 1 : ]
test = sc.fit_transform(test)

In [ ]:
test.shape

(8245, 15)

In [ ]:
train.shape

(18924, 16)

In [ ]:
predict = reg.predict(test)

In [ ]:
predict

array([23821.9       , 19220.49      ,  7995.56916667, ...,
       35865.07291667, 38153.01863095,  5439.442     ])

In [ ]:
a = pd.read_csv("submission.csv")
a["Price"] = predict
a.to_csv("submission11.csv", index = False)

In [ ]:
a

             Price
0     23821.900000
1     19220.490000
2      7995.569167
3      3844.116667
4      5534.106667
...            ...
8240   6779.020000
8241  22973.440000
8242  35865.072917
8243  38153.018631
8244   5439.442000

[8245 rows x 1 columns]