In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
cd gdrive/MyDrive

/content/gdrive/MyDrive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.metrics import mean_squared_log_error
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split


SEED = 42

In [ ]:
train = pd.read_csv("test.csv")
#test = pd.read_csv("test.csv")

In [ ]:
train.head()

         ID Levy Manufacturer  ...     Color  Airbags Price
0  44020629    -   VOLKSWAGEN  ...      Grey       10   NaN
1  45784798    -      HYUNDAI  ...      Grey       10   NaN
2  45800257    -       NISSAN  ...  Sky blue        8   NaN
3  45797981  975        VOLVO  ...      Blue       12   NaN
4  45814303    -         OPEL  ...     Black        0   NaN

[5 rows x 18 columns]

In [ ]:
train.info()
train.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8245 entries, 0 to 8244
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8245 non-null   int64
 1   Levy              8245 non-null   object
 2   Manufacturer      8245 non-null   object
 3   Model             8245 non-null   object
 4   Prod. year        8245 non-null   int64
 5   Category          8245 non-null   object
 6   Leather interior  8245 non-null   object
 7   Fuel type         8245 non-null   object
 8   Engine volume     8245 non-null   object
 9   Mileage           8245 non-null   object
 10  Cylinders         8245 non-null   int64
 11  Gear box type     8245 non-null   object
 12  Drive wheels      8245 non-null   object
 13  Doors             8245 non-null   object
 14  Wheel             8245 non-null   object
 15  Color             8245 non-null   object
 16  Airbags           8245 non-null   int64
 17  Price             0 non-null      float64
dtypes: float64(1), int64(4), object(13)
memory usage: 1.1+ MB

         ID Levy Manufacturer  ...     Color  Airbags Price
0  44020629    -   VOLKSWAGEN  ...      Grey       10   NaN
1  45784798    -      HYUNDAI  ...      Grey       10   NaN
2  45800257    -       NISSAN  ...  Sky blue        8   NaN
3  45797981  975        VOLVO  ...      Blue       12   NaN
4  45814303    -         OPEL  ...     Black        0   NaN

[5 rows x 18 columns]

In [ ]:
train["ID"].nunique()

8170

In [ ]:
l = {"-" : "0"}

In [ ]:
train["Levy"].map(l)

0         0
1         0
2         0
3       NaN
4         0
       ...
8240    NaN
8241      0
8242    NaN
8243    NaN
8244    NaN
Name: Levy, Length: 8245, dtype: object

In [ ]:
train.head()

         ID Levy Manufacturer  ...     Color  Airbags Price
0  44020629    -   VOLKSWAGEN  ...      Grey       10   NaN
1  45784798    -      HYUNDAI  ...      Grey       10   NaN
2  45800257    -       NISSAN  ...  Sky blue        8   NaN
3  45797981  975        VOLVO  ...      Blue       12   NaN
4  45814303    -         OPEL  ...     Black        0   NaN

[5 rows x 18 columns]

In [ ]:
train[train["Levy"] == "-"]

            ID Levy Manufacturer  ...     Color  Airbags Price
0     44020629    -   VOLKSWAGEN  ...      Grey       10   NaN
1     45784798    -      HYUNDAI  ...      Grey       10   NaN
2     45800257    -       NISSAN  ...  Sky blue        8   NaN
4     45814303    -         OPEL  ...     Black        0   NaN
13    45744987    -      HYUNDAI  ...     Brown       10   NaN
...        ...  ...          ...  ...       ...      ...   ...
8224  45789896    -       NISSAN  ...     White        6   NaN
8228  45779474    -       SUBARU  ...      Grey        6   NaN
8231  45796220    -          KIA  ...       Red        8   NaN
8238  44012311    -   VOLKSWAGEN  ...     White        8   NaN
8241  45682346    -          BMW  ...     Black        6   NaN

[2454 rows x 18 columns]

In [ ]:
l = {"-" : 0}

In [ ]:
train['Levy'] = train['Levy'].replace("-", "0")

In [ ]:
train["Levy"] = train["Levy"].astype("str").astype("int")

In [ ]:
train["Category"].nunique()

11

In [ ]:
train["Category"].nunique()

11

In [ ]:
l1 = {
    'Jeep' : 0, 
     'Hatchback' : 1, 
     'Sedan' : 2, 
     'Microbus' : 3, 
     'Goods wagon' : 4,
       'Universal' : 5, 
     'Coupe' : 6, 
     'Minivan' : 7, 
     'Cabriolet' :8, 
     'Limousine' : 9,
       'Pickup' : 10
}

In [ ]:
train["Category"] = train["Category"].map(l1)

In [ ]:
l2 = {
    "Yes" : 1,
    "No" : 0
}

In [ ]:
train["Leather interior"] = train["Leather interior"].map(l2)

In [ ]:
train

            ID  Levy Manufacturer  ...     Color  Airbags  Price
0     44020629     0   VOLKSWAGEN  ...      Grey       10    NaN
1     45784798     0      HYUNDAI  ...      Grey       10    NaN
2     45800257     0       NISSAN  ...  Sky blue        8    NaN
3     45797981   975        VOLVO  ...      Blue       12    NaN
4     45814303     0         OPEL  ...     Black        0    NaN
...        ...   ...          ...  ...       ...      ...    ...
8240  44824410  1357         FIAT  ...      Blue        6    NaN
8241  45682346     0          BMW  ...     Black        6    NaN
8242  45649860  1646        LEXUS  ...     Black        0    NaN
8243  45809706   784       TOYOTA  ...     Green        4    NaN
8244  45813163   448        HONDA  ...       Red       12    NaN

[8245 rows x 18 columns]

In [ ]:
train["Fuel type"].unique()

array(['Diesel', 'Petrol', 'LPG', 'Hybrid', 'CNG', 'Plug-in Hybrid',
       'Hydrogen'], dtype=object)

In [ ]:
l3 = {
   'Hybrid' : 0, 
   'Petrol' : 1, 
   'Diesel' : 2, 
   'CNG' : 3, 
   'Plug-in Hybrid' : 4,
    'LPG' : 5,
      'Hydrogen' : 6 
}

In [ ]:
train["Fuel type"] = train["Fuel type"].map(l3)

In [ ]:
train.head()

         ID  Levy Manufacturer  ...     Color  Airbags  Price
0  44020629     0   VOLKSWAGEN  ...      Grey       10    NaN
1  45784798     0      HYUNDAI  ...      Grey       10    NaN
2  45800257     0       NISSAN  ...  Sky blue        8    NaN
3  45797981   975        VOLVO  ...      Blue       12    NaN
4  45814303     0         OPEL  ...     Black        0    NaN

[5 rows x 18 columns]

In [ ]:
train["Gear box type"].unique()

array(['Manual', 'Tiptronic', 'Automatic', 'Variator'], dtype=object)

In [ ]:
l4= {
    'Automatic' : 0, 
     'Tiptronic' : 1, 
     'Variator' : 2, 
     'Manual' : 3
}

In [ ]:
train["Gear box type"] = train["Gear box type"].map(l4)

In [ ]:
train["Drive wheels"].unique()

array(['Front', '4x4', 'Rear'], dtype=object)

In [ ]:
l5 = {
    '4x4' : 0,
     'Front' : 1, 
      'Rear' : 2
}

In [ ]:
train["Drive wheels"] = train["Drive wheels"].map(l5)

In [ ]:
train["Doors"].unique()

array(['02-Mar', '04-May', '>5'], dtype=object)

In [ ]:
l6 = {
    '04-May' : 0, 
    '02-Mar' : 1, 
    '>5' : 2
}

In [ ]:
train["Doors"] = train["Doors"].map(l6)

In [ ]:
train.head()

         ID  Levy Manufacturer  ...     Color  Airbags  Price
0  44020629     0   VOLKSWAGEN  ...      Grey       10    NaN
1  45784798     0      HYUNDAI  ...      Grey       10    NaN
2  45800257     0       NISSAN  ...  Sky blue        8    NaN
3  45797981   975        VOLVO  ...      Blue       12    NaN
4  45814303     0         OPEL  ...     Black        0    NaN

[5 rows x 18 columns]

In [ ]:
train["Wheel"].unique()

array(['Left wheel', 'Right-hand drive'], dtype=object)

In [ ]:
l7 = {
    'Left wheel' : 0, 
    'Right-hand drive' : 1
}

In [ ]:
train["Wheel"] = train["Wheel"].map(l7)

In [ ]:
train["Color"].unique()

array(['Grey', 'Sky blue', 'Blue', 'Black', 'Silver', 'White', 'Brown',
       'Red', 'Golden', 'Carnelian red', 'Green', 'Orange', 'Beige',
       'Yellow', 'Purple', 'Pink'], dtype=object)

In [ ]:
l8 = {
    'Silver' : 0, 
    'Black' : 1, 
    'White' : 2, 
    'Grey' : 3, 
    'Blue' : 4, 
    'Green' : 5, 
    'Red' : 6,
       'Sky blue' : 7, 
      'Orange' : 8, 
      'Yellow' : 9, 
      'Brown' : 10, 
      'Golden' : 11, 
      'Beige' : 12,
       'Carnelian red' : 13, 
      'Purple' : 14, 
      'Pink' : 15
}

In [ ]:
train["Color"] = train["Color"].map(l8)

In [ ]:
train.dtypes

ID                    int64
Levy                  int64
Manufacturer         object
Model                object
Prod. year            int64
Category              int64
Leather interior      int64
Fuel type             int64
Engine volume        object
Mileage              object
Cylinders             int64
Gear box type         int64
Drive wheels          int64
Doors                 int64
Wheel                 int64
Color                 int64
Airbags               int64
Price               float64
dtype: object

In [ ]:
train.head()

         ID  Levy Manufacturer   Model  ...  Wheel  Color  Airbags  Price
0  44020629     0   VOLKSWAGEN    Golf  ...      0      3       10    NaN
1  45784798     0      HYUNDAI  Sonata  ...      0      3       10    NaN
2  45800257     0       NISSAN   Tiida  ...      1      7        8    NaN
3  45797981   975        VOLVO    XC90  ...      0      4       12    NaN
4  45814303     0         OPEL   Astra  ...      0      1        0    NaN

[5 rows x 18 columns]

In [ ]:
train["Mileage"].dtypes

dtype('O')

In [ ]:
train[['Mileage']] = train[['Mileage']].replace(to_replace=r'([a-z/]+|[A-Z/]+)', value='', regex=True)

In [ ]:
train["Mileage"] = train["Mileage"].astype("str").astype("int")

In [ ]:
train.head()

         ID  Levy Manufacturer   Model  ...  Wheel  Color  Airbags  Price
0  44020629     0   VOLKSWAGEN    Golf  ...      0      3       10    NaN
1  45784798     0      HYUNDAI  Sonata  ...      0      3       10    NaN
2  45800257     0       NISSAN   Tiida  ...      1      7        8    NaN
3  45797981   975        VOLVO    XC90  ...      0      4       12    NaN
4  45814303     0         OPEL   Astra  ...      0      1        0    NaN

[5 rows x 18 columns]

In [ ]:
train.columns

Index(['ID', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category',
       'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags', 'Price'],
      dtype='object')

In [ ]:
features = ['ID', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags', 'Price']

In [ ]:
dataset = train[features]

In [ ]:
feat = ["Model", "Manufacturer"]

In [ ]:
lb = LabelEncoder()
l = lb.fit_transform(dataset["Model"])

In [ ]:
y = lb.fit_transform(dataset["Manufacturer"])

In [ ]:
dataset["Model"] = l

In [ ]:
dataset["Manufacturer"] = y

In [ ]:
dataset

            ID  Levy  Manufacturer  Model  ...  Wheel  Color  Airbags  Price
0     44020629     0            58    521  ...      0      3       10    NaN
1     45784798     0            23    837  ...      0      3       10    NaN
2     45800257     0            40    885  ...      1      7        8    NaN
3     45797981   975            59    970  ...      0      4       12    NaN
4     45814303     0            41    165  ...      0      1        0    NaN
...        ...   ...           ...    ...  ...    ...    ...      ...    ...
8240  44824410  1357            15    867  ...      0      4        6    NaN
8241  45682346     0             5     96  ...      0      1        6    NaN
8242  45649860  1646            30    509  ...      0      1        0    NaN
8243  45809706   784            55    156  ...      0      5        4    NaN
8244  45813163   448            21    564  ...      0      6       12    NaN

[8245 rows x 18 columns]

In [ ]:
X = dataset.iloc[ : ,  : -1]
Y = dataset.iloc[ : , -1 : ]

In [ ]:
dataset[['Engine volume']] = dataset[['Engine volume']].replace(to_replace=r'([a-z/]+|[A-Z/]+)', value='', regex=True)

In [ ]:
dataset

            ID  Levy  Manufacturer  Model  ...  Wheel  Color  Airbags  Price
0     44020629     0            58    521  ...      0      3       10    NaN
1     45784798     0            23    837  ...      0      3       10    NaN
2     45800257     0            40    885  ...      1      7        8    NaN
3     45797981   975            59    970  ...      0      4       12    NaN
4     45814303     0            41    165  ...      0      1        0    NaN
...        ...   ...           ...    ...  ...    ...    ...      ...    ...
8240  44824410  1357            15    867  ...      0      4        6    NaN
8241  45682346     0             5     96  ...      0      1        6    NaN
8242  45649860  1646            30    509  ...      0      1        0    NaN
8243  45809706   784            55    156  ...      0      5        4    NaN
8244  45813163   448            21    564  ...      0      6       12    NaN

[8245 rows x 18 columns]

In [ ]:
X = dataset.iloc[ : ,  : -1]
Y = dataset.iloc[ : , -1 : ]

In [ ]:
len(X)

8245

In [ ]:
X, Y = shuffle(X, Y)

In [ ]:
dataset[dataset["ID"] == 45769096]

Empty DataFrame
Columns: [ID, Levy, Manufacturer, Model, Prod. year, Category, Leather interior, Fuel type, Engine volume, Mileage, Cylinders, Gear box type, Drive wheels, Doors, Wheel, Color, Airbags, Price]
Index: []

In [ ]:
Y

      Price
3154    NaN
7019    NaN
3412    NaN
200     NaN
7794    NaN
...     ...
3724    NaN
3630    NaN
6062    NaN
1587    NaN
481     NaN

[8245 rows x 1 columns]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1, shuffle = True)

In [ ]:
regressor = RandomForestRegressor(random_state = SEED)
regressor.fit(X_train, Y_train)

ValueError: ignored

In [ ]:
predicted = regressor.predict(X)

In [ ]:
predicted

In [ ]:
np.savetxt("GFG.csv", 
           predicted,
           delimiter =", ", 
           fmt ='% s')

In [ ]:
test = pd.read_csv("test.csv")

In [ ]:
test

In [ ]:
check = pd.read_csv("train.csv")

In [ ]:
check[check["Manufacturer"] == "VOLKSWAGEN")]

In [ ]:
predicted

In [ ]:
import pandas as pd
forest_importances = pd.Series(importances, index = dataset.columns[ : -1])

fig, ax = plt.subplots()
forest_importances.plot.bar(yerr=std, ax=ax)
ax.set_title("Feature importances using MDI")
ax.set_ylabel("Mean decrease in impurity")
fig.tight_layout()

In [ ]:
start_time = time.time()
importances = forest.feature_importances_
std = np.std([
    tree.feature_importances_ for tree in forest.estimators_], axis=0)
elapsed_time = time.time() - start_time

print(f"Elapsed time to compute the importances: "
      f"{elapsed_time:.3f} seconds")